@font-face {
font-family: "Vouge";
src: url(Vogue.ttf);
}

.body {
  background-color: #eee;
  font-family: : "Vouge";
}

.Title{
  font-size: 40pt;
  font: Vogue.ttf;
  text-align: center;
}

.Year{
  font-size: 35pt;
  text-decoration: underline;
}

.title{
  font-size: 25pt;
}

.contentGrid img{
  width: 200px;
}
