
body {
  margin: 5vw 10vw 0px 10vw;
  padding: 0px;
  background-color: #eee;
  font-size: 2rem;
}

body * {
  box-sizing: border-box;
}

#contentGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3vmin;
  grid-row-gap: 3vmin;
  padding: 2vmin;
  font-size: 2rem;
}

.contentItem {
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  height: 100%;
}

.contentItem ul {
  flex-grow: 1;
}
